

<div>

<form (ngSubmit)= "validateCredential(user.email,user.password)" #myForm="ngForm">
  <mat-form-field>
    
    <input name="EmailId" matInput placeholder="Enter Username" 
    [(ngModel)]="user.email"
    required
    email
    #emailId = "ngModel"
    />
    <mat-error *ngIf="emailId.errors?.required">Email id is required.</mat-error>            
     <mat-error *ngIf="!emailId.errors?.required && emailId.errors?.email">Email id is not valid.</mat-error>
    </mat-form-field>
  

  <mat-form-field>
      <input type="Password" name="Password" matInput placeholder="Enter Password" 
    [(ngModel)]="user.password"
   required
   #password = "ngModel"
   
   />
  
   <mat-error *ngIf="password.invalid">Password is required.</mat-error> 
  
  </mat-form-field>
  
  <button [disabled]="myForm.invalid" mat-raised-button color="accent" type="submit">Submit</button>

</form>

<<!--
<input [ngModel]='address1' (ngModelChange)="changed($event, 'address1')" />

<input [ngModel]='address2' (ngModelChange)="changed($event, 'address2')" />
-->>

</div>