<h1>     LOGIN HERE            </h1>
<app-alert></app-alert>
<div class="loginclass">

    <form (ngSubmit)= "loginWithUsernameAndPassword(user.email,user.password)" #myForm="ngForm">
      <mat-form-field class="f1" >
        
       <input  name="EmailId" matInput placeholder="Enter Username" 
        [(ngModel)]="user.email"
        required
        email
        #emailId = "ngModel"
        />
        <mat-error *ngIf="emailId.errors?.required">Email id is required.</mat-error>            
         <mat-error *ngIf="!emailId.errors?.required && emailId.errors?.email">Email id is not valid.</mat-error>
      
        </mat-form-field><br>
      
      <mat-form-field class="f1">
          <input type="Password" name="Password" matInput placeholder="Enter Password" 
        [(ngModel)]="user.password"
       required
       #password = "ngModel"
       
       />
      
       <mat-error *ngIf="password.invalid">Password is required.</mat-error> 
      
      </mat-form-field>
      
      <button class="f1"[disabled]="myForm.invalid" mat-raised-button color="accent" type="submit">Sign in</button> <br>
      
      
    
    
    </form>
    
    
  