.head{
    text-align: right;
    
}
.router-links{

    color:white;
    text-decoration-style: solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    background-color:orange;
    
}
.active-link{
    color:black;
}

.icon
{
    font-size-adjust: inherit;
}
